*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    --primary-component-width: 1200px;

    --main-padding: 6rem 2rem 2rem;

    --black-color: #000;
    --dark-button-color: #1e1915;
    --dark-button-hover-color: #2e2c29;
    --brown-color: #4c301b;
    --brown-light-color: #663815;
    --dark-red-color: #a61b1b;
    --red-color: #ff0000;
    --star-color: #ff7400;
    --star-light-color: #de9d69;
    --gray-color: #616161;
    --divider-color: #cfccc9;
    --green-color: #1b836f;
    --lightgreen-color: #29ad93;
    --lightblue-color: #00635D;
    --book-link-color: #119980;
    --book-link-lighter-color: #8ee2d1;
    --lightgray-color: #f3f2e6;
    --banner-color: #ffeecc;
    --white-color: #fff;
}