*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    --primary-component-width: 1200px;

    --black-color: #000;
    --dark-button-color: #1e1915;
    --brown-color: #4c301b;
    --brown-color-light: #663815;
    --gray-color: #616161;
    --divider-color: #cfccc9;
    --lightblue-color: #00635D;
    --book-link-color: #119980;
    --book-link-lighter-color: #8ee2d1;
    --lightgray-color: #f3f2e6;
    --banner-color: #ffeecc;
    --white-color: #fff;
}