.create__review__wrapper {
    max-width: 900px;
    margin: 0 auto;
}

.create__review__book--link {
    color: var(--lightblue-color);
}

.create__review__title {
    font-weight: normal;
    font-size: 2.2rem;
    margin-bottom: 1rem;
}

.create__review__book--info {
    display: flex;
    gap: 1rem;
}

.create__review__book--image {
    width: 70px;
}

.create__review__book--title {
    font-weight: normal;
    font-size: 1.4rem;
}

.create__review__rating--user {
    display: flex;
    align-items: baseline;
}

.create__review__rating--title {
    font-weight: normal;
    font-size: 1.1rem;
}

.create__review__hr {
    margin: 12px 0;
    border: none;
    height: 0.1rem;
    background-color: var(--lightgray-color);
}

.create__review__form--question {
    font-weight: normal;
    margin-top: 20px;
}

.create__review__form {
    margin: 10px 0;
}

.create__review__form--textarea {
    width: 100%;
    min-height: 100px;
    height: 200px;
    padding: 8px;

    resize: vertical;
    outline: none;

    border-radius: 4px;
    border: 1px solid var(--divider-color);
}

.create__review__form--textarea:focus {
    box-shadow: 0px 0px 4px var(--divider-color);
}

.create__review__spoilers {
    display: flex;
    align-items: center;
    gap: 0.4rem;
}

.spoilers--hide {
    accent-color: var(--blue-color);
}

.create__review__save {
    display: flex;
    justify-content: space-between;
}

.create__review__button--save {
    padding: 4px 20px;
    font-size: 1rem;
}

.review__delete--button {
    background-color: var(--dark-red-color);
    color: var(--white-color);

    border: none;
    border-radius: 20px;

    padding: 6px 20px;
    font-size: 1rem;
}

.review__delete--button:hover {
    background-color: var(--red-color);
}

@media only screen and (max-width: 650px) {
    .create__review__book--info {
        flex-direction: column;
    }

    .create__review__title {
        font-size: 1.8rem;
    }

    .create__review__book--title {
        font-size: 1.2rem;
    }
}

@media only screen and (max-width: 320px) {
    .create__review__wrapper {
        margin-top: 2rem;
    }
}

