.reviews__title {
    font-style: italic;
    margin-bottom: 20px;
}

.reviews__user__review--article .review__item .review__comments {
    margin-bottom: 30px;
}

.reviews__user__review--title {
    font-style: italic;
    font-size: 1.4rem;
    margin: 2rem 0 1.2rem;
}

.reviews__user {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reviews__user--question {
    font-family: Georgia, serif;
    font-weight: normal;
    font-size: 2.4rem;
    margin: 14px 0;
}

.reviews__review--action {
    display: flex;
    gap: 2rem;
}

.reviews__user--button {
    background-color: var(--dark-button-color);
    color: var(--white-color);

    height: 3rem;
    padding: 0 2rem;
    font-size: 1.2rem;

    border-radius: 1.4rem;
    border: none;
}

.reviews__user--button:hover {
    background-color: var(--dark-button-hover-color);
}

@media only screen and (max-width: 500px) {
    .reviews__review--action {
        flex-direction: column;
        align-items: center;
    }

    .profile__section--article {
        width: 100px;
        height: 100px;
    }

    .profile__section--article>img {
        width: 98px;
        height: 98px;
    }

    .reviews__user--question {
        font-size: 1.6rem;
    }

    .reviews__user--button {
        height: unset;
        padding: 0.4rem 1.8rem;
    }

    .fa-solid.fa-star.fa-review {
        padding: 2px;
    }
}