.main__profile {
    padding: var(--main-padding);
}

.main__profile--section {
    max-width: var(--primary-component-width);
    margin: 0 auto;
    padding: 20px;

    display: flex;
}

.profile__section--article {
    width: 152px;
    height: 152px;

    border-radius: 50%;
    border: 1px solid var(--gray-color);
}

.profile__section--article img {
    width: 150px;
    height: 150px;

    border-radius: 50%;
    object-fit: cover;
}

.profile__section--user {
    font-size: 1.4rem;
    margin-left: 40px;
    border-bottom: 1px solid var(--gray-color);
    height: 32px;
    width: 100%;
}

.profile__section--edit {
    padding: 6px 30px;
    font-size: 1rem;
}