.post__user.abs {
    max-width: 40px;
    overflow: hidden;

    position: absolute;
    left: -20px;

    border: 1px solid var(--gray-color);
    border-radius: 50%;
}

.post__user {
    max-width: 40px;
    overflow: hidden;

    border: 1px solid var(--gray-color);
    border-radius: 50%;
}