.post__user.abs {
    max-width: 40px;
    overflow: hidden;

    position: absolute;
    left: -20px;
    top: 12px;

    border-radius: 50%;
}

.post__user {
    max-width: 40px;
    overflow: hidden;
}

.user__img {
    border-radius: 50%;
    border: 1px solid var(--gray-color);

}