.review__item {
    display: flex;
}

.review__aside {
    width: 100%;
}

.review__user--article {
    width: 60px;
    height: 60px;

    object-fit: cover;
    position: relative;
}

.review__user--article img {
    border-radius: 50%;
}

.review__user--article::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    border-radius: 50%;
    background: var(--black-color);
    transition: all ease-in-out 0.25s;
    opacity: 0;
}

.review__user--article:hover::after {
    opacity: 0.3;
}

.review__user--name {
    font-family: Georgia, serif;
    font-weight: normal;
    font-size: 1.2rem;
    margin: 10px 0;
}

.review__button--follow {
    background-color: var(--dark-button-color);
    color: var(--white-color);
    padding: 0.6rem 1.6rem;
    font-size: 1rem;
    border-radius: 1.4rem;
    border: none;
}

.review__button--follow:hover {
    background-color: var(--dark-button-hover-color);
}

.review__content {
    padding-left: 80px;
}

.review__section--content {
    max-height: 200px;

    overflow: hidden;
    position: relative;
}

.review__section--content.active {
    max-height: unset;
    overflow: visible;
    margin-bottom: 50px;
}

.review__paragraph {
    margin: 24px 0;
    line-height: 1.5;
}

.review__span {
    position: absolute;
    width: 100%;
    bottom: 0;
    padding-top: 2.4rem;
    font-weight: 500;
    cursor: pointer;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), var(--white-color) 1.6rem);
}

.review__span:hover {
    text-decoration: underline;
}

.review__span.less {
    bottom: -30px;
    background: transparent;
}

.fa-solid.fa-angle-down.down-arrow {
    transition: all ease-in-out 0.4s;
}

.review__span.less .fa-solid.fa-angle-down.down-arrow {
    transform: rotate(180deg);
}

.review__likes__comments {
    display: flex;
    align-items: center;
    margin-top: 20px;

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: var(--gray-color);
}

.review__likes__comments--dot {
    font-size: 1.4rem;
    padding: 0 6px;
    color: var(--black-color);
}

.review__section--buttons {
    margin: 20px 0;
    display: flex;
}

.review__button {
    cursor: pointer;
}

.review__button--like {
    margin-right: 20px;
}

.review__button--like.active {
    color: var(--lightblue-color);
}

.review__button--text:hover {
    text-decoration: underline;
}