.genre__books--wrapper {
    display: flex;
    max-width: var(--medium-component-width);
    margin: 0 auto;
}

.genre__name--title {
    margin-bottom: 20px;
    padding-bottom: 4px;
    border-bottom: 1px solid var(--divider-color);
}

.genre__books {
    flex-basis: 70%;
}

.genre__books--list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
}

.genre__book--item {
    width: 112px;
    height: 180px;
}

.genre__book--item>a>img {
    object-fit: cover;
}

.genre__book--item>img {
    object-fit: cover;
}