.header {
    background-color: var(--lightgray-color);
    color: var(--brown-color);
}

.header__section {
    background-color: var(--banner-color);
    height: 400px;
    display: flex;
    flex-wrap: wrap;
}

.section__article {
    width: 100%;
    height: 100%;
    position: relative;
}

.article__article--info {
    max-width: var(--primary-component-width);
    margin: 50px auto;
}

.article__title--small {
    font-weight: 600;
}

.article__title--big {
    font-weight: 300;
}

.article__books--img {
    position: absolute;
    bottom: 0;

    object-fit: cover;
    overflow: hidden;
}