.header {
    background-color: var(--lightgray-color);
    color: var(--brown-color);
}

.header__section {
    background-color: var(--banner-color);
    height: 40vh;
    position: relative;
}

.section__article--books {
    position: relative;
}

.article__books--img {
    width: 100%;
    overflow: hidden;

    position: absolute;
    top: -120px;
    right: 0;
    bottom: 0;
    left: 0;
}