.comment__ul--item {
    padding: 0.5rem;
}

.comment__article {
    display: flex;
    justify-content: space-between;
}

.comment__author {
    font-weight: 500;
    font-size: 0.9rem;
}

.comment__button--delete {
    border: none;
    background: transparent;
    color: var(--gray-color);
}

.comment__button--delete:hover {
    text-decoration: underline;
}

.comment__paragraph {
    margin: 10px 0 0;
    font-size: 0.9rem;
    line-height: 1.4;

    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.comment__button {
    display: inline;
    overflow: visible;
}

.comment__ul--item .comment__paragraph:nth-child(2) {
    margin: 4px 0 0;
}