.comment__ul--item {
    padding: 0.5rem;
}

.comment__article {
    display: flex;
    justify-content: space-between;
}

.comment__author {
    font-weight: 500;
    font-size: 0.9rem;
}

.comment__button--delete {
    border: none;
    background: transparent;
    color: var(--gray-color);
}

.comment__button--delete:hover {
    text-decoration: underline;
}

.comment__paragraphs {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-overflow: clip;
    overflow: hidden;
}

.comment__paragraphs.visible {
    display: block;
}

.comment__paragraph {
    margin: 10px 0 0;
    font-size: 0.9rem;
    line-height: 1.4;
}

.comment__paragraph:first-child {
    margin-top: 4px;
}

.comment__button {
    background-color: transparent;
    border: none;
    color: var(--lightblue-color);
    font-size: 1rem;
}

.comment__button:hover {
    text-decoration: underline;
}

.comment__ul--item {
    display: flex;
}

.comment__content--wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 10px;
}

.comment__ul--item .comment__paragraph:nth-child(2) {
    margin: 4px 0 0;
}