.post {
    background-color: var(--white-color);
    border: 1px solid var(--divider-color);
    border-radius: 2px;

    margin: 20px 0;
    position: relative;
}

.post__wrapper {
    padding: 1rem 1rem 1rem 2rem;
}

.post__information {
    line-height: 1.4;
    padding: 0 46px 0 0;
}

.post__book {
    display: flex;
    justify-content: space-between;
}

.post__user--name,
.post__book--title {
    display: inline;
    font-weight: bold;
    font-weight: 500;
}

.post__user--name {
    margin-right: 6px;
}

.post__status {
    font-family: "Helvetica", sans-serif;
    margin-right: 6px;
    color: var(--gray-color);
}

.post__time {
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.post__book {
    margin: 12px 0;
}

.post__book--img {
    max-width: 120px;
    max-height: 200px;
}

.post__book--img img {
    object-fit: fill;
    width: 120px;
    height: 200px;
}

.post__book--summary {
    margin-left: 20px;
    position: relative;
}

.post__summary--title {
    font-size: 1.12rem;
}

.post__book--author {
    font-weight: normal;
    font-size: 1rem;
    margin: 6px 0;
}

.post__book--description {
    line-height: 1.23;
    word-spacing: 2px;
    max-height: 120px;

    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.post__summary--more {
    color: var(--lightblue-color);
}

.post__button {
    border: none;
    background-color: transparent;
    font-size: 14px;
    color: var(--lightblue-color);
}

.post__button:hover {
    text-decoration: underline;
}