.post {
    background-color: var(--white-color);
    margin: 20px 0;
    padding-top: 0.5rem;
    position: relative;
    height: 200px;
}

.post__user {
    max-width: 40px;
    overflow: hidden;

    position: absolute;
    left: -20px;

    border: 1px solid var(--gray-color);
    border-radius: 50%;
}