.profile__updates {
    width: var(--secondary-component-width);
    margin: 0 auto;
}

.profile__updates--title {
    text-transform: uppercase;
    margin: 20px 0 8px;
}

.profile__hr {
    margin: 6px 0 0;
    border: none;
    height: 1px;
    background-color: var(--divider-color);
}

.posts__section>.post__article:first-child {
    margin-top: 0;
}

.profile__updates--none {
    margin: 20px auto;
    height: 40vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.profile__updates__none--title {
    text-align: center;
}