.section__navigation {
    background-color: var(--lightgray-color);
    position: fixed;
    z-index: 50;
    top: 0;
    left: 0;
    right: 0;
}

.header__navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;

    width: var(--primary-component-width);
    margin: 0 auto;
}

.header__ul {
    display: flex;
}

.header__ul--li {
    font-size: 1.2rem;
    color: var(--brown-color);
}

.header__ul--li a {
    text-decoration: none;
    padding: 1rem;
}

.header__ul--li a:hover {
    background-color: var(--brown-color);
    color: var(--white-color);
}

.header__form--search {
    width: 600px;
}

.header__form--input {
    width: 100%;
    border-radius: 2px;
    border: 1px solid var(--gray-color);
    font-size: 1rem;
    padding: 0.4rem 0.2rem;
}

.header__article--profile {
    max-width: 40px;
    position: relative;
}

.header__article--profile img {
    border-radius: 50%;
    cursor: pointer;
}