.section__navigation {
    background-color: var(--lightgray-color);
    box-shadow: 0 1px 4px rgb(0 0 0 / 15%);

    position: fixed;
    z-index: 50;
    top: 0;
    left: 0;
    right: 0;
}

.header__navigation {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;

    width: var(--primary-component-width);
    margin: 0 auto;
}

.navigation__search--icon {
    display: none;
    font-size: 1.2rem;
    color: var(--brown-color);
}

.header__ul {
    display: flex;
    align-items: center;
}

.header__ul--li {
    font-size: 1.2rem;
    color: var(--brown-color);
}

.header__ul--li>a,
.header__ul--li.browse {
    text-decoration: none;
    padding: 1rem;
}

.header__ul--li.browse:hover,
.header__ul--li>a:hover {
    background-color: var(--brown-color);
    color: var(--white-color);
}

.header__ul--li.browse {
    cursor: pointer;
    position: relative;
}

.header__ul--li.browse.active {
    background-color: var(--brown-color);
    color: var(--white-color);
}

.browse__list {
    position: absolute;
    top: 55.2px;
    left: 0;

    width: 100%;
    padding: 12px;

    background-color: var(--comment-section-color);
    box-shadow: 0 5px 10px var(--divider-color);
}

.browse__list--title {
    font-weight: 500;
    font-size: 1.1rem;
    margin-bottom: 6px;
}

.browse__list--title,
.browse__list--element {
    color: var(--dark-button-color);
}

.browse__list--element {
    padding: 10px 0;
}

.browse__list--element:hover {
    text-decoration: underline;
}

.header__form--search {
    width: 30%;
}

.header__form--input {
    width: 100%;
    border-radius: 2px;
    border: 1px solid var(--gray-color);
    font-size: 1rem;
    padding: 0.4rem 0.2rem;
}

.header__article--profile {
    max-width: 40px;
    position: relative;
}

.header__article--profile img {
    border-radius: 50%;
    cursor: pointer;
}


@media only screen and (max-width: 1200px) {
    .section__navigation {
        padding: 0 20px;
    }

    .header__navigation {
        width: unset;
    }
}

@media only screen and (max-width: 815px) {
    .header__ul {
        display: none;
    }

    .header__form--search {
        width: 60%;
    }
}

@media only screen and (max-width: 600px) {
    .header__form--search {
        display: none;
    }

    .navigation__search--icon {
        display: inline-block;
    }

    .header__form__search--small {
        display: flex;
        position: absolute;
        bottom: -52px;
        left: -20px;

        width: 108%;
        padding: 10px;

        background-color: var(--lightgray-color);
        border-top: 0.1rem solid var(--divider-color);
    }

    .header__form__small--button {
        margin-left: 10px;
        font-size: 1.2rem;

        background: transparent;
        color: var(--lightblue-color);
        border: none;
    }
}