.genre__books--wrapper {
    display: flex;
    max-width: var(--medium-component-width);
    margin: 0 auto;
}

.genre__name--title {
    margin-bottom: 20px;
    padding-bottom: 4px;
    border-bottom: 1px solid var(--divider-color);
}

.genre__books {
    flex-basis: 70%;
}

.genre__books--list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.genre__book--item {
    width: 112px;
    height: 180px;
}

.genre__book--item>a>img {
    object-fit: cover;
}

.genre__book--item>img {
    object-fit: cover;
}

.genre__section--empty {
    margin: 40px 0;
    text-align: center;
}

.genre__section__title--big {
    font-size: 2rem;
}

.genre__section__title--small {
    margin: 4px 0 20px;
    font-weight: normal;
    font-size: 1.4rem;
}

.genre__section--link {
    background-color: var(--dark-button-color);
    color: var(--white-color);

    font-size: 1rem;
    padding: 8px 30px;
    border-radius: 20px;
}

.genre__section--link:hover {
    text-decoration: none;
}

@media only screen and (max-width: 1000px) {
    .genre__books {
        margin-bottom: 40px;
    }
}

@media only screen and (max-width: 440px) {
    .genre__books--list {
        justify-content: center;
    }
}