.main {
    padding: var(--main-padding);
}

.main__form--book {
    display: flex;
    flex-direction: column;

    max-width: 400px;
    margin: 0 auto;
}

.form__book--legend {
    font-size: 1.4rem;
}