.section__not--found {
    text-align: center;
    color: var(--black-color);

    margin: 60px 0;
    min-height: 100vh;
    padding: 20px 30px;
}

.not__found--code {
    font-size: 5.2rem;
}

.not__found--error {
    font-size: 2.2rem;
}

.not__found--error--message {
    font-size: 1.6rem;
    letter-spacing: 1px;
    margin-top: 15px;
}