.footer {
    background-color: var(--lightgray-color);
    padding: 2rem 0;
}

.footer__container,
.footer__ul {
    display: flex;
}

.footer__container {
    max-width: var(--primary-component-width);
    margin: 0 auto;
    justify-content: space-between;
}