.recommended {
    max-height: 450px;
}

.recommended__artile--top {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.recommended__arrows i {
    font-size: 2rem;
    cursor: pointer;
}

.recommended__arrows i:first-child {
    margin-right: 10px;
}

.recommended__title {
    font-family: Georgia, serif;
    font-weight: 400;
    font-size: 1.8rem;
}

.recommended__books {
    display: flex;
    margin: 2.4rem 0;
}