.form__book--label {
    margin: 20px 0 4px;
}

.form__input.form__textarea {
    min-height: 100px;
    resize: vertical;
    transition: none;
}

.form__textarea::-webkit-scrollbar {
    border-radius: 50%;
}


@media only screen and (max-width: 600px) {
    input.form__input,
    textarea.form__input,
    button.auth__button {
        margin: 4px 0;
    }
}