.post {
    background-color: var(--white-color);
    border: 1px solid var(--divider-color);
    border-radius: 2px;

    margin: 20px 0;
    position: relative;
}

.post__wrapper {
    padding: 1rem 1rem 1rem 2rem;
}

.post__information {
    line-height: 1.4;
    display: flex;
    justify-content: space-between;
}

.post__top--content {
    padding-right: 20px;
}

.fa-solid.fa-star.fa-review.str {
    font-size: 0.8rem;
    padding: 2px;
}

.post__review--content {
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.post__review--content.more {
    display: block;
    overflow: visible;
}

.post__review--button {
    background: transparent;
    border: none;

    margin-top: 10px;
    font-size: 0.95rem;
    color: var(--lightblue-color);
}

.post__review--button:hover {
    text-decoration: underline;
}

.post__review--paragraph {
    margin: 16px 0;
    line-height: 1.4;
}

.post__review--rating {
    border-bottom: 1px solid var(--divider-color);

    width: 144px;
    padding-bottom: 4px;
}

.post__review--paragraph:first-child {
    margin-top: 6px;
}

.post_review--span {
    font-size: 1rem;
    font-weight: bold;
    font-style: italic;
    color: var(--gray-color);
}

.post__book--review {
    margin: 20px 0;
}

.post__review--spoilers {
    padding: 16px;
    border-radius: 4px;
    margin-top: 20px;
    background-color: var(--lightgray-color);
}

.post__review__spoilers--title {
    margin-bottom: 14px;
    font-weight: normal;
}

.review__spoilers--button {
    background: transparent;
    font-weight: bold;
    border: none;
    font-size: 0.9rem;
    position: relative;
}

.review__spoilers--button::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;

    width: 0%;
    height: 2px;

    background-color: var(--black-color);
}

.review__spoilers--button:hover::before {
    width: 100%;
}

.post__book {
    display: flex;
    justify-content: space-between;
}

.post__book.review {
    border: 1px solid var(--divider-color);
    padding: 12px;
}

.post__user--name,
.post__book--title {
    display: inline;
    font-weight: bold;
    font-weight: 500;
}

.post__user--name {
    margin-right: 6px;
}

.post__status {
    font-family: "Helvetica", sans-serif;
    margin-right: 6px;
    color: var(--gray-color);
}

.post__action--span {
    display: flex;
    gap: 0.2rem;
}

.post__action--delete {
    color: var(--gray-color);
    cursor: pointer;
}

.post__book {
    margin: 12px 0;
}

.post__book--img img {
    object-fit: cover;
    width: 130px;
    height: 200px;
}

.post__book--summary {
    margin-left: 20px;
    position: relative;
}

.post__summary--title {
    font-size: 1.12rem;
}

.post__book--author {
    font-weight: normal;
    font-size: 1rem;
    margin: 6px 0;
}

.post__book--description {
    line-height: 1.23;
    word-spacing: 2px;
    max-height: 120px;

    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.post__summary--more {
    color: var(--lightblue-color);
}

.post__button {
    border: none;
    background-color: transparent;
    font-size: 14px;
    color: var(--lightblue-color);
}

.post__button:hover {
    text-decoration: underline;
}

@media only screen and (max-width: 400px) {
    .post__information {
        padding: 0;
    }

    .post__book {
        flex-direction: column;
    }

    .post__book--summary {
        margin: 10px 0;
    }
}

@media only screen and (max-width: 350px) {
    .post__information {
        flex-direction: column;
    }

    .post__action--span {
        margin-top: 8px;
    }
}