.profile__edit--section {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: var(--secondary-component-width);
}

.profile__edit--section>input {
    margin-top: 20px;
}

.profile__edit--img {
    width: 300px;
    height: 400px;
    margin: 20px auto;
    object-fit: cover;
}