.main.main__welcome {
    padding: 2.2rem;
}

.main__wrapper {
    max-width: var(--primary-component-width);
    margin: 0 auto;
}

.wrapper__section--about {
    display: flex;
    gap: 10rem;

    margin: 0 0 2rem;
}

.article__paragraph {
    margin: 10px 0;
}

.welcome__search--title {
    font-weight: normal;
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.welcome__search--form {
    position: relative;
    width: 30%;
}

.welcome__search--input {
    width: 100%;
    padding: 0.2rem;
    outline: none;

    font-size: 1rem;
    border: 1px solid var(--divider-color);
}

.welcome__search--input:focus {
    box-shadow: 0 1px 4px rgb(0 0 0 / 15%);
}

.welcome__search--button {
    position: absolute;
    right: 6px;
    top: 25%;

    border: none;
    background-color: transparent;
}

.welcome__genres--article {
    display: flex;
}

.welcome__genres--list {
    display: flex;
    flex-wrap: wrap;
    gap: 0.6rem;
    margin-top: 30px;
}

.welcome__genres--item {
    flex-basis: 30%;
}

.welcome__genres--item>a {
    color: var(--lightblue-color);
}

.welcome__genres--article>img {
    height: 300px;
    width: 250px;
}


@media only screen and (max-width:650px) {
    .welcome__genres--article>img {
        display: none;
    }
}

@media only screen and (max-width: 600px) {
    .main.main__welcome {
        padding: 20px;
    }

    .wrapper__section--about {
        flex-direction: column;
        gap: 3rem;
    }
}