.main__wrapper {
    max-width: var(--primary-component-width);
    margin: 0 auto;
}

.wrapper__section--about {
    display: flex;
    gap: 10rem;

    margin: 1rem 0;
}

.article__paragraph {
    margin: 10px 0;
}

@media only screen and (max-width: 600px) {
    .main.main__welcome {
        padding: 20px;
    }

    .wrapper__section--about {
        flex-direction: column;
        gap: 3rem;
    }
}