.shelves__wrapper {
    width: 900px;
    margin: 0 auto;
}

.shelves__article {
    display: flex;
    margin: 20px 0;
}

.shelves {
    width: 200px;
}

.shelves__list--shelve>a {
    color: var(--lightblue-color);
}

.shelves__books {
    width: 700px;
}

.shelves__table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 0.8rem;
}

.shelves__th {
    font-weight: normal;
    text-align: start;
    padding: 10px;
}

.shelves__thead {
    border: 1px solid var(--divider-color);
}

.shelves__td {
    padding: 10px;
}