.post__user {
    width: 40px;
    height: 40px;
}

.post__user.abs {
    position: absolute;
    left: -20px;
    top: 12px;
}

.post__user {
    max-width: 40px;
    border-radius: 50%;
    background-color: var(--gray-color);
}

.user__img {
    border-radius: 50%;
    object-fit: cover;
    border: 0.1rem solid var(--gray-color);
}