.post__user {
    width: 40px;
    height: 40px;
    overflow: hidden;

    border-radius: 50%;
    border: 1px solid var(--gray-color);
}

.post__user.abs {
    position: absolute;
    left: -20px;
    top: 12px;
}

.post__user {
    max-width: 40px;
    overflow: hidden;
}

.user__img {
    border-radius: 50%;
    width: 39px;
    height: 39px;
    object-fit: cover;
}