.footer {
    background-color: var(--lightgray-color);
    box-shadow: 0 0 4px 2px var(--divider-color);
    padding: 2rem 0;
}

.footer__container,
.footer__ul {
    display: flex;
}

.footer__container {
    max-width: var(--primary-component-width);
    margin: 0 auto;
    justify-content: space-between;
}

.footer__section {
    flex-basis: 50%;
}

.footer__section:nth-child(2) {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.footer__ul--li {
    flex-basis: 33.33%;
}

.footer__ul--title {
    font-size: 1.1rem;
    font-weight: 400;
    
    margin-bottom: 0.5rem;
    color: var(--gray-color);
}

.footer__li--item {
    line-height: 1.5;
}

.footer__li--link {
    font-size: 0.9rem;
    color: var(--brown-color);
}

.footer__ul--icons {
    flex-direction: row;
}

.footer__ul--icons .footer__li--item {
    display: inline-block;
    height: 30px;
    margin: 0 0 10px;
}

.footer__ul--icons .footer__li--item .footer__li--link {
    margin: 0 0.4rem;
    padding: 0.4rem 0.6rem;
    border-radius: 50%;

    background-color: gray;
    color: var(--white-color);
}

.footer__ul--icons .footer__li--item:first-child .footer__li--link {
    padding: 0.4rem 0.7rem;
}

.footer__article--stores {
    display: flex;
    gap: 0.2rem;

    width: 290px;
    margin-bottom: 15px;
}

.footer__article--stores img {
    width: 140px;
    margin-left: 5px;
    cursor: pointer;
}


@media only screen and (max-width: 1200px) {
    .footer {
        padding: 20px;
    }

    .footer__ul {
        flex-direction: column;
    }

    .footer__ul--li {
        margin-bottom: 20px;
    }

    .footer__article--stores {
        flex-direction: column;
        align-items: flex-end;
        width: unset;
    }
}

@media only screen and (max-width:410px) {
    .footer__container {
        flex-direction: column;
        align-items: flex-start;
    }

    .footer__article--stores,
    .footer__section:nth-child(2) {
        width: 100%;
    }

    .footer__article--stores {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .footer__article--stores>img {
        height: 60px;
        width: 45%;
    }
}

@media only screen and (max-width: 320px) {
    .footer__article--stores {
        flex-direction: column;
        align-items: flex-start;
        gap: 0.2rem;
    }

    .footer__article--stores>img {
        width: 70%;
    }

    .footer__section:nth-child(2) {
        align-items: flex-start;
    }
}