.article__profile--ul {
    position: absolute;
    top: 47px;
    right: 0;

    width: 250px;
    padding: 12px;
    z-index: 50;

    background-color: var(--white-color);
    box-shadow: 0 5px 10px rgb(0, 0, 0, 0.2);
}

.profile__ul--name {
    text-transform: uppercase;
}

.profile__ul--li {
    margin: 18px 0;
}

.profile__ul--li:last-child {
    margin-bottom: 0;
}


@media only screen and (max-width: 1200px) {
    .article__profile--ul {
        position: fixed;
        top: 55px;
        right: -20px;

        width: 30%;
        height: 100%;
    }

    .section__navigation.opened::before {
        content: "";

        position: fixed;
        top: 55px;

        width: 100%;
        height: 100vh;

        background-color: var(--black-color);
        opacity: 0.7;
    }
}

@media only screen and (max-width: 1200px) {
    .profile__ul--name {
        font-size: 1.4rem;
    }

    .profile__ul--li {
        margin: 30px 0;
        font-size: 1.4rem;
    }
}

@media only screen and (max-width: 850px) {
    .article__profile--ul {
        width: 60%;
    }
}

@media only screen and (max-width: 400px) {
    .article__profile--ul {
        width: 75%;
    }
}