.spinner {
    display: flex;
    align-items: center;
    justify-content: center;
}

.spinner.full {
    width: 100%;
    height: 100vh;
}

.spinner.medium {
    margin: 40px auto;
    width: 100%;
    height: 100%;
}

.spinner::after {
    content: "";

    width: 5.4rem;
    height: 5.4rem;

    border-radius: 50%;
    border: 12px solid var(--divider-color);
    border-bottom-color: var(--brown-color);

    animation: spinning 0.8s ease-in-out infinite;
}

@keyframes spinning {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}