.main__details {
    padding: var(--main-padding);
}

.div__wrapper {
    max-width: var(--primary-component-width);
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    gap: 4rem;
}

.book__title {
    font-family: Copernicus, "Libre Baskerville", Georgia, serif;
    font-weight: 400;
}

.book__author {
    font-family: serif;
    font-weight: 200;
    font-size: 1.6rem;
    margin: 20px 0;
}

.book__tags {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;

    font-weight: 500;
    word-spacing: 2px;
    margin: 1.8rem 0;
}

.book__tag a {
    text-decoration: none;
    position: relative;
}

.book__tag a::before,
.book__tag a::after {
    content: '';

    position: absolute;
    bottom: -0.2rem;
    left: 0;

    width: 100%;
    height: 0.18rem;

    transform: scaleX(1);
    background-color: var(--book-link-color);
}

.book__tag a:hover::after {
    background-color: var(--book-link-lighter-color);

    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.4s ease-out;
}

.book__tag>a:hover {
    text-decoration: none;
}

.book__table--heading {
    font-family: Copernicus, "Libre Baskerville", Georgia, serif;
    font-weight: bold;
    font-size: 1.2rem;
    text-align: start;
}

.book__table {
    width: 400px;
    border-spacing: 0 1rem;
}

.book__table--data {
    color: var(--gray-color);
}

.hr__divider {
    border: none;
    background-color: var(--divider-color);

    height: 0.1rem;
    margin: 1.4rem 0;
}


@media only screen and (max-width: 940px) {
    .div__wrapper {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }
}

@media only screen and (max-width: 470px) {
    .main__details {
        padding: 5rem 1rem 1rem;
    }

    .div__wrapper {
        display: block;
    }
}

@media only screen and (max-width: 450px) {
    .book__table {
        width: 100%;
    }
}