.main__details {
    padding: var(--main-padding);
}

.div__wrapper {
    max-width: var(--primary-component-width);
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    gap: 4rem;
}

.book__title {
    font-family: Copernicus, "Libre Baskerville", Georgia, serif;
    font-weight: 400;
}

.book__author {
    font-family: serif;
    font-weight: 200;
    font-size: 1.6rem;
    margin: 20px 0;
}

.hr__divider {
    border: none;
    background-color: var(--divider-color);

    height: 0.1rem;
    margin: 1.4rem 0;
}

@media only screen and (max-width: 1240px) {
    .recommended__books {
        width: unset;
    }

    .recommended__books a:not(:first-child) {
        margin-left: 1rem;
    }
}

@media only screen and (max-width: 1150px) {
    .recommended__books {
        justify-content: space-between;
    }

    .book {
        width: 164px;
    }

    .book__article {
        height: 264px;
    }
}

@media only screen and (max-width: 1030px) {
    .recommended__books a:last-child {
        display: none;
    }

    .book {
        width: 194px;
    }

    .book__article {
        height: 294px;
    }
}