.search__wrapper {
    display: flex;
    max-width: var(--medium-component-width);
    margin: 0 auto;
}

.search__section {
    width: 70%;
    margin-right: 20px;
}

.search__section--title {
    margin-bottom: 10px;
    font-size: 1.6rem;
    color: var(--brown-color);
}

.search__form {
    padding: 12px;
    background-color: var(--lightgray-color);
    border-radius: 2px;
}

.search__form--input,
.search__form--button {
    padding: 4px 10px;
    font-size: 1rem;
}

.search__form--input {
    width: 80%;
    outline: none;
    border: 1px solid var(--divider-color);
}

.search__form--input:focus {
    box-shadow: 0 0 4px var(--divider-color);
}

.search__form--button {
    width: 20%;
}

.search__results {
    margin: 20px 0;
}

.search__title--book {
    font-weight: normal;
}