.search__wrapper {
    display: flex;
    max-width: var(--medium-component-width);
    margin: 0 auto;
}

.search__section {
    width: 70%;
    margin-right: 20px;
}

.search__section--title {
    margin-bottom: 10px;
    font-size: 1.6rem;
    color: var(--brown-color);
}

.search__form {
    padding: 12px;
    background-color: var(--lightgray-color);
    border-radius: 2px;
}