.search__wrapper {
    display: flex;
    max-width: var(--medium-component-width);
    margin: 0 auto;
}

.search__section {
    width: 70%;
    margin-right: 20px;
}

.search__section--title {
    margin-bottom: 10px;
    font-size: 1.6rem;
    color: var(--brown-color);
}

.search__form {
    padding: 12px;
    background-color: var(--lightgray-color);
    border-radius: 2px;
}

.search__form--input,
.search__form--button {
    padding: 4px 10px;
    font-size: 1rem;
}

.search__form--input {
    width: 80%;
    outline: none;
    border: 1px solid var(--divider-color);
}

.search__form--input:focus {
    box-shadow: 0 0 4px var(--divider-color);
}

.search__form--button {
    width: 20%;
}

.search__results {
    margin: 20px 0;
}

.search__title--book {
    font-weight: normal;
}

.search__books__result--list {
    margin: 30px 0;
}

.search__book__result--item {
    display: flex;
}

.search__book--summary {
    flex-direction: column;
    width: 100%;
    padding: 0 20px;
}

.book__result--title {
    font-size: 1.1rem;
    margin-bottom: 4px;
}

.book__result--author {
    font-weight: 500;
}

.search__book__result--item>a>img {
    width: 80px;
    height: 120px;
    object-fit: cover;
}

.hr__search__divider {
    border: none;
    background-color: var(--divider-color);

    height: 0.1rem;
    margin: 0.8rem 0;
}

@media only screen and (max-width: 1000px) {
    .search__wrapper {
        flex-direction: column;
    }

    .search__section {
        width: 100%;
    }
}